numpy==1.18.4
pandas==1.0.3
pandas-datareader==0.8.1
pandas-gbq==0.11.0
pandas-profiling==1.4.1
sklearn-pandas==1.8.0
scipy==1.4.1
statsmodels==0.10.2
matplotlib==3.2.1
matplotlib-venn==0.11.5
seaborn==0.10.1
tqdm==4.41.1
more-itertools==8.3.0
sklearn==0.0
sklearn-pandas==1.8.0
gensim==3.6.0
